# Haulage company APS_FAILURE_SET_ANALYSIS

## Add cover_sheet

# Refrences
1. Hector Cuesta (2013) Practical Data Analysis. Birmingham, UK: Packt Publishing. Available at: https://search.ebscohost.com/login.aspx?direct=true&db=e250xww&AN=654543&site=eds-live&scope=site (Accessed: 18 October 2023).

# 1 : Introduction 
### 1.1 What is data
Data are plain facts gathered within a defined context. Statistians would refer to it has set of obsevations, which contain variables or column of varying/unique characteristic. Data can also be referred to as a piece of information after it has been summarised, and when subjected to analysis, data can be reffered to as an evidence of a hypothesis. Before data can become an information and utilmately an evidence it must go through a process. Data analysis is the process in which raw data is ordered and organized, to be used in methods that help to explain the past and predict the future (Hector, 2013). I have been retained by Haulage company to get information and ultimately evidence from their 'aps_failure_set' data-set and to do this i will be using the process of data analysis 
### 1.2 Understanding dataset
Disclaimer: This is a summary of the information provided by David

'aps_failure_set' dataset was collected from the everyday usage of heavy Scania trucks. Data has been collected specifically on Air Pressure system (APS) and stored in comma-separated value(csv) file. The sytem generates generates pressurised air that are utilized in various functions in a truck, such as braking and gear changes. 
## 1.3 Problem definination
H company wants an analysis of the data colleted, to help determine the investment strategy for the upcoming year. 

Company wants an anlysis of failure's, and see information of failuures related to APS relative to thos fai;ures not related to APS. 
they had in sytemsDataset seek t positive class consists of component failures for a specific component of the APS system.


and it has been stroed in comma separated format

in methods that help to explain the past and predict the future. 
in methods that help to explain the past and predict the future. 
**talking about python:** Though the project breif specifically instructed that this analyssis be carried out using python jupytanoot book only, for the purpose of infor mation it is worth noting thta python is the...... **Then proceed to talk about its unique future comprared to other DA language**

In [1]:
#Importing packages i need for EDA
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [11]:
# reading dataset using pandas
air_p= pd.read_csv('aps_failure_set.csv')

In [12]:
#Geeting the first five rows of the data 
air_p.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [10]:
#Getting the last five row of the dataset
air_p.tail()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
59995,neg,153002,na,664,186,0,0,0,0,0,...,998500,566884,1290398,1218244,1019768,717762,898642,28588,0,0
59996,neg,2286,na,2130706538,224,0,0,0,0,0,...,10578,6760,21126,68424,136,0,0,0,0,0
59997,neg,112,0,2130706432,18,0,0,0,0,0,...,792,386,452,144,146,2622,0,0,0,0
59998,neg,80292,na,2130706432,494,0,0,0,0,0,...,699352,222654,347378,225724,194440,165070,802280,388422,0,0
59999,neg,40222,na,698,628,0,0,0,0,0,...,440066,183200,344546,254068,225148,158304,170384,158,0,0

In [7]:
air_p.series(["class"]).unique()
df = pd.DataFrame("class")

print(df.nunique())

#pd.Series([2, 1, 3, 3], name='A').unique()

AttributeError: 'DataFrame' object has no attribute 'series'