# Haulage company APS_FAILURE_SET_ANALYSIS

## Add cover_sheet

# Refrences
1. Hector Cuesta (2013) Practical Data Analysis. Birmingham, UK: Packt Publishing. Available at: https://search.ebscohost.com/login.aspx?direct=true&db=e250xww&AN=654543&site=eds-live&scope=site (Accessed: 18 October 2023).

# 1 : Introduction 
### 1.1 What is data
Data are plain facts gathered within a defined context. Statistians would refer to it has set of obsevations, which contain variables or column of varying/unique characteristic. Data can also be referred to as a piece of information after it has been summarised, and when subjected to analysis, data can be reffered to as an evidence of a hypothesis. Before data can become an information and utilmately an evidence it must go through a process. Data analysis is the process in which raw data is ordered and organized, to be used in methods that help to explain the past and predict the future (Hector, 2013). I have been retained by Haulage company to get information and ultimately evidence from their 'aps_failure_set' data-set and to do this i will be using the process of data analysis 
### 1.2 Understanding dataset
Disclaimer: This is a summary of the information provided by David

'aps_failure_set' dataset was collected from the everyday usage of heavy Scania trucks. Data has been collected specifically on Air Pressure system (APS) and stored in comma-separated value(csv) file. The sytem generates generates pressurised air that are utilized in various functions in a truck, such as braking and gear changes. 
## 1.3 Problem definination
H company wants an analysis of the data colleted, to help determine the investment strategy for the upcoming year. 

Company wants an anlysis of failure's, and see information of failuures related to APS relative to thos fai;ures not related to APS. 
they had in sytemsDataset seek t positive class consists of component failures for a specific component of the APS system.


and it has been stroed in comma separated format

in methods that help to explain the past and predict the future. 
in methods that help to explain the past and predict the future. 
**talking about python:** Though the project breif specifically instructed that this analyssis be carried out using python jupytanoot book only, for the purpose of infor mation it is worth noting thta python is the...... **Then proceed to talk about its unique future comprared to other DA language**

In [2]:
#Importing packages i need for EDA
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# Early data anlysis (EDA)

In [3]:
# reading dataset using pandas
air_p= pd.read_csv('aps_failure_set.csv')

In [32]:
#Geeting the first five rows of the data 
air_p.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [31]:
#Getting the last five row of the dataset
air_p.tail()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
59995,neg,153002,na,664,186,0,0,0,0,0,...,998500,566884,1290398,1218244,1019768,717762,898642,28588,0,0
59996,neg,2286,na,2130706538,224,0,0,0,0,0,...,10578,6760,21126,68424,136,0,0,0,0,0
59997,neg,112,0,2130706432,18,0,0,0,0,0,...,792,386,452,144,146,2622,0,0,0,0
59998,neg,80292,na,2130706432,494,0,0,0,0,0,...,699352,222654,347378,225724,194440,165070,802280,388422,0,0
59999,neg,40222,na,698,628,0,0,0,0,0,...,440066,183200,344546,254068,225148,158304,170384,158,0,0

In [6]:
# checking for the size of the data
air_p.shape
#There are 60000 rows and 171 columns

(60000, 171)

In [15]:
# need more infor on the data types 
air_p.info()
#Wecan see that this give a more precice response, stating that the are 170 object i.e columns that are categorical or has
# strings in them making them return object and we have 1 numerical column or has int in its entry which is the class.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 171 entries, class to eg_000
dtypes: int64(1), object(170)
memory usage: 78.3+ MB

## Alot of features
Using the .shape method, i can see that i have 171 feautures  but the 'air_p' df displays only 20 features. Using the .info method, i can see that my class feauture is object, and only one censure 'aa_000' returns to be integer,and 169 feautures are objectives.
I would like to be able to work with individual feautur and explore it. To do this, i will load the dataset in phases using indexing.

In [54]:
# The AP1 df returns the first 20 features and all the rows
AP1= air_p.iloc[ : , :20]
AP1.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,ag_004,ag_005,ag_006,ag_007,ag_008,ag_009,ah_000,ai_000,aj_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,0,37250,1432864,3664156,1007684,25896,0,2551696,0,0
1,neg,33058,na,0,na,0,0,0,0,0,0,18254,653294,1720800,516724,31642,0,1393352,0,68
2,neg,41040,na,228,100,0,0,0,0,0,0,1648,370592,1883374,292936,12016,0,1234132,0,0
3,neg,12,0,70,66,0,10,0,0,0,318,2212,3232,1872,0,0,0,2668,0,0
4,neg,60874,na,1368,458,0,0,0,0,0,0,43752,1966618,1800340,131646,4588,0,1974038,0,226

## From Here

In [80]:
missing_value_formats = ['na']
df = pd.read_csv('aps_failure_set.csv', na_values = missing_value_formats)

In [81]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,NaN,2.130706e+09,280.0,0.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,neg,33058,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,neg,41040,NaN,2.280000e+02,100.0,0.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,neg,12,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,0.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,neg,60874,NaN,1.368000e+03,458.0,0.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [82]:
df.shape

(60000, 171)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Columns: 171 entries, class to eg_000
dtypes: float64(169), int64(1), object(1)
memory usage: 78.3+ MB

In [84]:
# Now the 'na' str in the ab_000 component as turned to nan
df['ab_000'].unique()

array([ nan,   0.,   2.,   4.,   6.,   8.,  18.,  10.,  12.,  16., 204.,
        24., 134.,  90.,  26.,  14.,  34.,  52.,  20.,  22.,  30.,  36.,
       100.,  48.,  58.,  32.,  28.,  44.,  46.,  68.])

## To here
### Am try somthing.. 
Am check if there are any other unique values other than 'na'
I specified that all 'na' objects should be treated as NAN values

In [55]:
AP1.shape

(60000, 20)

In [56]:
AP1.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
ae_000    0
af_000    0
ag_000    0
ag_001    0
ag_002    0
ag_003    0
ag_004    0
ag_005    0
ag_006    0
ag_007    0
ag_008    0
ag_009    0
ah_000    0
ai_000    0
aj_000    0
dtype: int64

In [105]:
AP1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   60000 non-null  object
 1   aa_000  60000 non-null  int64
 2   ab_000  60000 non-null  object
 3   ac_000  60000 non-null  object
 4   ad_000  60000 non-null  object
 5   ae_000  60000 non-null  object
 6   af_000  60000 non-null  object
 7   ag_000  60000 non-null  object
 8   ag_001  60000 non-null  object
 9   ag_002  60000 non-null  object
 10  ag_003  60000 non-null  object
 11  ag_004  60000 non-null  object
 12  ag_005  60000 non-null  object
 13  ag_006  60000 non-null  object
 14  ag_007  60000 non-null  object
 15  ag_008  60000 non-null  object
 16  ag_009  60000 non-null  object
 17  ah_000  60000 non-null  object
 18  ai_000  60000 non-null  object
 19  aj_000  60000 non-null  object
dtypes: int64(1), object(19)
memory usage: 9.2+ MB

### storing unique features
1. na

## Exploring each feature in AP1 for unique values
The censor systems all came back as onject which means the are some objects in the feautures, i wish to explore the unique features ineach columns to be able to fixt the datatypes

In [58]:
# Unique values in class
df= AP1["class"].unique()
print(df)

['neg' 'pos']

In [60]:
# Getting the unique values in the class column to be able to veiw the integer
# The 'ab_000' column should be integer but we have some missing values in it that has been replaced with 'na'
AP1['ab_000'].head(10)

0    na
1    na
2    na
3     0
4    na
5    na
6     0
7    na
8    na
9     0
Name: ab_000, dtype: object

In [61]:
# To get all the uniqe values in the 'ab_000'
# the '.unique()' compared to the '.head()' returns all the uniqe data tpyes i have in the column helping me to see all the
# rows that are not integers
AP1['ab_000'].unique()
# we can see that 'na' is the only type of str we have in the column which represent null values

array(['na', '0', '2', '4', '6', '8', '18', '10', '12', '16', '204', '24',
       '134', '90', '26', '14', '34', '52', '20', '22', '30', '36', '100',
       '48', '58', '32', '28', '44', '46', '68'], dtype=object)

In [62]:
AP1['ac_000'].unique()

array(['2130706438', '0', '228', ..., '8974', '123514', '2602'],
      dtype=object)

In [69]:
AP1['ad_000'].unique()

array(['280', 'na', '100', ..., '5286', '3608', '194868'], dtype=object)

In [70]:
AP1['ae_000'].unique()

array(['0', '16', '104', 'na', '2', '222', '4', '290', '1286', '170', '6',
       '806', '1464', '274', '18', '8', '342', '64', '34', '192', '144',
       '176', '1512', '120', '58', '114', '460', '12', '112', '1314',
       '20', '550', '36', '1424', '180', '324', '204', '254', '106',
       '154', '92', '256', '202', '352', '26', '124', '2240', '466',
       '778', '28', '100', '14', '276', '42', '82', '22', '384', '282',
       '386', '98', '164', '108', '86', '38', '266', '1056', '134', '10',
       '200', '150', '326', '350', '398', '424', '32', '128', '752',
       '314', '732', '2312', '400', '158', '668', '30', '212', '224',
       '950', '4726', '60', '226', '388', '640', '258', '62', '206', '44',
       '414', '458', '78', '492', '308', '52', '50', '162', '24', '662',
       '536', '456', '130', '140', '184', '368', '146', '118', '138',
       '872', '530', '1118', '356', '218', '126', '102', '1130', '12048',
       '1508', '396', '374', '658', '816', '556', '216', '66', '760',
       '136', '220', '280', '46', '462', '788', '360', '416', '348', '74',
       '1124', '88', '242', '580', '84', '378', '94', '406', '442',
       '2750', '4698', '40', '748', '292', '952', '284', '270', '1346',
       '506', '422', '322', '642', '48', '714', '318', '54', '68', '156',
       '70', '3702', '1654', '454', '1452', '76', '380', '72', '294',
       '382', '214', '328', '2276', '248', '680', '182', '160', '938',
       '390', '56', '814', '624', '1200', '1466', '148', '236', '744',
       '172', '1274', '836', '1582', '804', '2672', '470', '654', '794',
       '1372', '664', '484', '1468', '168', '110', '1912', '116', '524',
       '234', '1270', '310', '2468', '612', '228', '486', '246', '2600',
       '142', '1710', '478', '570', '96', '746', '90', '480', '3478',
       '538', '1292', '122', '344', '2572', '600', '468', '962', '540',
       '436', '826', '920', '302', '618', '614', '666', '2322', '2662',
       '152', '1420', '296', '366', '188', '488', '894', '1714', '572',
       '522', '702', '320', '208', '238', '500', '762', '542', '336',
       '446', '21050', '404', '698', '2702', '2306', '548', '1614', '864',
       '300', '438', '490', '482', '1520', '186', '304', '940', '132',
       '878', '1012', '376', '2218', '80', '8332', '260', '194', '566',
       '1852', '4520', '1026', '716', '340', '1860', '166', '1176', '784',
       '1116', '504', '174', '264', '430', '604', '1398', '2110', '288',
       '764', '412', '286', '602', '5386', '1412', '2048', '936', '730',
       '2370', '832', '250', '272', '464', '946', '626', '606', '362',
       '700'], dtype=object)

In [85]:
#Also has 'na'
AP1['af_000'].unique()

array(['0', '10', '20', '172', 'na', '30', '2', '296', '452', '1384',
       '488', '4', '6', '3220', '1808', '538', '14', '12', '274', '78',
       '22', '330', '188', '160', '8', '746', '238', '64', '164', '362',
       '410', '24', '294', '198', '54', '834', '32', '2704', '324', '766',
       '206', '2706', '156', '250', '2430', '154', '252', '170', '358',
       '4768', '46', '1320', '1776', '680', '576', '114', '96', '98',
       '28', '44', '132', '876', '572', '332', '368', '514', '242', '104',
       '26', '404', '240', '178', '352', '394', '642', '930', '456',
       '620', '316', '614', '52', '808', '2240', '1970', '1082', '42',
       '1358', '244', '508', '120', '1290', '6506', '60', '304', '226',
       '558', '138', '212', '372', '2844', '484', '56', '266', '100',
       '184', '34', '190', '878', '350', '982', '292', '1002', '40', '86',
       '288', '216', '2648', '36', '48', '460', '256', '224', '298',
       '510', '424', '110', '1054', '18', '1440', '536', '732', '1042',
       '6236', '402', '136', '936', '272', '658', '752', '724', '11368',
       '444', '58', '134', '450', '720', '646', '5514', '814', '74',
       '870', '504', '310', '230', '1120', '306', '166', '666', '366',
       '474', '934', '1268', '356', '122', '1276', '150', '94', '146',
       '716', '92', '152', '612', '458', '108', '956', '566', '3832',
       '5256', '50', '174', '910', '874', '84', '390', '3790', '118',
       '1904', '644', '338', '210', '6234', '312', '88', '686', '502',
       '434', '76', '282', '158', '3056', '1156', '5814', '70', '176',
       '360', '16', '3828', '80', '578', '112', '476', '786', '276', '62',
       '1980', '68', '254', '82', '988', '430', '636', '1538', '1288',
       '382', '1386', '380', '260', '248', '940', '1470', '442', '106',
       '1244', '412', '698', '4238', '72', '8134', '142', '1746', '2716',
       '1094', '342', '392', '548', '1570', '204', '232', '1592', '220',
       '416', '38', '436', '5724', '1202', '676', '270', '1152', '800',
       '218', '518', '478', '1198', '1032', '1088', '770', '3124', '526',
       '5332', '278', '466', '340', '196', '4496', '2180', '182', '1724',
       '258', '326', '144', '192', '4256', '1102', '140', '148', '954',
       '208', '336', '13562', '1214', '802', '2234', '126', '1254', '654',
       '2154', '1718', '462', '1172', '1834', '590', '862', '690', '924',
       '726', '200', '426', '194', '202', '3504', '2440', '900', '3060',
       '740', '378', '348', '986', '116', '1426', '66', '2540', '1240',
       '228', '1986', '714', '2818', '4078', '634', '616', '2152',
       '20070', '7242', '214', '9040', '2544', '186', '1914', '3544',
       '722', '128', '932', '162', '912', '1096', '546', '788', '418',
       '2162', '756', '2380', '632', '694', '354', '962', '1130', '1424',
       '490', '858', '262', '1830', '130', '408', '550', '308', '2522',
       '960', '718', '284', '4654', '1372', '468', '1134', '102', '448',
       '180', '780', '2596', '4310', '828', '374', '1580', '540', '90',
       '464', '1486', '530', '574', '5476', '750', '840', '738', '302',
       '2070', '318', '2506', '286', '1352', '948', '564', '1578', '608',
       '11284', '1226', '494', '516', '2192', '1260', '2052', '1020',
       '328', '1056', '562', '496', '168', '762', '1526', '314', '8056',
       '346'], dtype=object)

In [88]:
# Also have 'na' as unique
AP1['ag_000'].unique()

array(['0', '3382', 'na', '776', '2', '4808', '12', '4372', '11912',
       '454', '13044', '16186', '29794', '876', '8', '34', '63896', '64',
       '3376892', '299736', '206336', '51610', '4436', '16', '242', '104',
       '16462', '21000', '7002', '30', '228', '850604', '170', '760',
       '28', '58096', '6', '268780', '1722', '7212', '8252', '1262',
       '19442', '4', '24', '3718', '223654', '306898', '246', '17706',
       '406', '15626', '14630', '96954', '69054', '544866', '1540',
       '17280', '32', '196', '326', '3272', '1170', '127544', '48', '62',
       '1354', '550', '443614', '22', '48820', '20614', '2664', '234',
       '316', '11486', '318', '22320', '998', '8870', '67966', '50066',
       '1266', '206', '510', '48020', '6772', '2088', '676', '44212',
       '10682', '26884', '156', '360', '136', '1994', '256', '58270',
       '60334', '26', '14', '15980', '2710', '35888', '6604', '124',
       '116', '1134', '82', '45862', '58806', '11184', '1314', '204',
       '193310', '848', '2982', '2514', '6554', '278514', '10318',
       '85016', '2076', '2530', '254', '798', '10952', '23256', '11218',
       '9012', '10226', '930', '10028', '66', '484', '552', '32584', '88',
       '8516', '25126', '2940', '884', '6732', '12162', '72', '55372',
       '27616', '2016', '3304', '10254', '10', '3950', '536290', '36',
       '49536'], dtype=object)

In [89]:
#Also has 'na'
AP1['ag_001'].unique()

array(['0', '49536', 'na', '244', '281128', '8632', '50394', '1430',
       '14868', '1280', '2', '312', '215720', '140526', '15166', '34244',
       '6086', '2716', '12', '126', '66', '1094', '3564', '1342', '1566',
       '29190', '34934', '86114', '530916', '96944', '68084', '4538',
       '14450', '502', '34', '34864', '37656', '16532', '1752', '3268',
       '1152', '2348', '660', '448', '6138', '19702', '226226', '83006',
       '136', '4262', '304856', '402040', '12010', '18644', '21072',
       '22614', '10498', '321850', '53878', '24350', '186574', '4822',
       '98586', '2698', '4058', '75826', '4712', '26', '15148', '3430',
       '174', '60', '7824', '135062', '232', '26212', '221266', '582',
       '634', '6782', '115488', '68452', '15952', '732', '7762', '1218',
       '4686', '28762', '15592', '3642', '14', '1522', '21028', '290132',
       '187392', '1096', '7048', '64', '24', '40456', '1516', '428',
       '1586', '13986', '618212', '46562', '35414', '131050', '294',
       '3180', '146928', '1720', '115572', '186', '2612', '41162', '4372',
       '20788', '7162', '764', '66280', '2769256', '57752', '2188', '180',
       '1084', '8752', '67628', '1832', '4018', '44540', '928', '138',
       '303376', '61272', '2046', '151670', '700', '112', '26318', '684',
       '284296', '5414', '730', '11226', '36076', '15518', '772', '42',
       '298618', '3646', '236', '1906', '488', '26274', '2462', '4836',
       '109792', '2784', '1760', '3226', '22', '65738', '1796', '45008',
       '10682', '4306', '12052', '10928', '48358', '29542', '4109372',
       '7010', '2710', '2262', '2770', '34086', '5034', '1452', '59888',
       '215716', '27310', '4052', '19124', '742', '5734', '13952', '2752',
       '1992', '7482', '192868', '36214', '20', '65852', '65784',
       '377346', '7884', '1380', '145610', '304', '7244', '36', '1593830',
       '43528', '31162', '1479684', '22648', '3708310', '272', '1748',
       '223936', '3826', '3080', '61006', '32334', '2472', '1170',
       '30158', '5128', '614', '482', '1574', '69872', '5084', '8182',
       '9264', '214658', '15994', '25116', '66888', '2894', '78462', '54',
       '2304', '542', '156', '116', '2364', '107846', '82896', '17998',
       '68380', '2830', '5892', '11664', '40', '436510', '26204',
       '166448', '472', '1338', '327564', '22062', '81826', '2442', '32',
       '14940', '92762', '788', '8956', '230012', '958', '3000', '996',
       '8214', '1990', '96250', '1782', '6648', '25680', '4964', '5974',
       '98290', '39756', '552', '1418', '164812', '115174', '22944',
       '199958', '118', '372780', '48', '389178', '20888', '1866',
       '485994', '2156', '4', '212', '660290', '3122', '8932', '1552538',
       '1450', '94', '1346', '8168', '59672', '12110', '36274', '2952',
       '9562', '398', '106464', '2948', '13736', '5456', '554', '153344',
       '109380', '1150462', '3640', '68', '57754', '37746', '3302',
       '57316', '54648', '184540', '51678', '4016', '62', '4824', '620',
       '148', '2898', '901168', '28054', '27154', '2182', '45660',
       '34028', '22116', '11084', '494', '932', '6286', '3626', '27958',
       '74936', '10762', '1204', '507738', '28876', '95956', '44522',
       '250', '3392', '8684', '2684', '44', '35240', '24778', '26122',
       '2992', '328', '1768', '1072', '47866', '50', '37478', '734',
       '110', '2146', '74764', '19842', '946', '12896', '67318', '1178',
       '2814', '22412', '1828', '506552', '9690', '142', '92000', '1474',
       '1036', '28', '306', '15912', '10', '166', '67254', '970', '10142',
       '382', '24828', '292', '27270', '476', '146', '23512', '1467566',
       '8', '1810', '2774', '3808', '7784', '2920', '777614', '228998',
       '11264', '8450', '21560', '2436', '24280', '3330', '2020', '12082',
       '396', '290', '698', '58', '12792', '83780', '586', '18800', '158',
       '252', '60306', '1910', '98', '490', '300930', '1767874', '8930',
       '484922', '1702', '25336', '31224', '130512', '114', '21526',
       '994', '128084', '2494', '57888', '39608', '90626', '9806',
       '53196', '62204', '250882', '15856', '175454', '3726', '1746010',
       '156184', '2252', '51414', '5618', '53872', '4664', '7186', '394',
       '2768', '986', '1909708', '646', '154', '2804', '201024', '35124',
       '526', '501700', '2120', '16', '62664', '462', '5984', '74',
       '4846', '744', '3752', '350', '13692', '178', '1316', '9978',
       '49304', '30622', '23100', '6208', '160', '4004', '146780', '1080',
       '349148', '2858', '17618', '2934', '268250', '26958', '13696',
       '327990', '40584', '1932', '6912', '29638', '5716', '22674', '92',
       '46', '23838', '5842', '760', '207378', '14628', '172', '181792',
       '2700', '92514', '61762', '650', '24836', '2126', '36422', '93670',
       '78902', '94184', '38', '152', '464732', '9230', '204026', '918',
       '1332', '13726', '7640', '400', '11150', '30740', '276', '8406',
       '862', '21594', '170552', '2320', '1052912', '65556', '110060',
       '374', '52', '22672', '4978', '340', '182', '2270', '36232',
       '7732', '33910', '2134', '72', '16950', '4580', '662', '80',
       '229532', '14312', '898', '202386', '7572', '8898', '612', '30',
       '3176', '40440', '270656', '656', '1264', '12384', '104524',
       '191578', '1104', '2634', '1446', '13454', '15300', '103786',
       '7962', '40256', '11562', '6', '10084', '15466', '84', '376',
       '408', '314772', '14532', '36740', '9836', '15732', '150', '1876',
       '144668', '126768', '1938', '562', '53318', '5934', '1424', '938',
       '15726', '2152', '568', '10626', '5932', '41788', '1138', '571250',
       '80488', '38834', '44320', '267100'], dtype=object)

In [90]:
AP1['ag_002'].unique()

array(['0', '9744', '222', ..., '17526', '9904', '5744'], dtype=object)

In [91]:
AP1['ag_003'].unique()

array(['0', '318', '11804', ..., '8348', '9046', '18118'], dtype=object)

In [92]:
AP1['ag_004'].unique()

array(['37250', '18254', '1648', ..., '43536', '32154', '59100'],
      dtype=object)

In [97]:
AP1['ag_005'].unique(),
AP1['ag_006'].unique(),
AP1['ag_007'].unique(),
AP1['ag_008'].unique(),
AP1['ag_009'].unique(),

(array(['0', '660', '876', ..., '5116', '29422', '59754'], dtype=object),)

In [98]:
AP1['ah_000'].unique(),
AP1['ai_000'].unique(),
AP1['aj_000'].unique(),

(array(['0', '68', '226', '80', '64', '58', '32', '11548', '682', '992',
        '302', '70', '31432', 'na', '154', '230', '174', '42', '36', '60',
        '124', '86', '110', '106', '16650', '92', '468', '50', '2542',
        '122', '562', '46', '402', '24', '38', '26', '196', '42544',
        '2782', '40', '326', '62', '198', '28', '56', '108', '126',
        '426786', '164', '240', '216', '88', '84', '4', '48', '252', '286',
        '278', '420', '12830', '144', '180', '100', '66', '186', '134',
        '150', '78', '132', '204', '370', '44', '168', '208', '210',
        '8832', '102', '8', '4714', '94', '2206', '774', '34', '140',
        '318', '74', '104', '146', '260', '90', '270', '96', '316', '294',
        '195754', '224', '170', '12', '444', '242', '334', '18', '284',
        '16', '176', '156', '436', '54', '76', '292', '972', '274', '412',
        '200', '184', '136', '52', '118', '14', '128', '400', '232', '190',
        '72', '178', '324', '328', '27384', '82', '1734', '5030', '182',
        '152', '498', '222', '236', '492', '262', '1516', '206', '312',
        '116', '472', '348736', '220', '386', '488', '166', '354', '446',
        '586', '130', '138', '218', '862', '268', '246', '474', '338',
        '410', '288', '10', '524', '276', '422', '162', '670', '380',
        '214', '1782386', '786', '15488', '114', '172', '192', '120',
        '418', '142', '3856', '510', '15674', '20984', '484', '244', '564',
        '384', '314', '30', '880', '20', '360', '744', '330', '1288',
        '14640', '1400', '990', '502', '212', '254', '9956', '352', '628',
        '394', '368', '1594', '258', '3510', '336', '454', '112', '306',
        '358', '158', '448', '6340', '238', '356', '248', '582', '8964',
        '298', '478', '518', '310', '3410', '85292', '292088', '9876',
        '98', '910', '282', '148', '702902', '640', '350', '9802',
        '258682', '188', '1202', '408', '376', '426', '2384', '202', '266',
        '366', '6920', '532', '686', '22', '494', '51450', '322', '16196',
        '7758', '2', '160', '794', '1954', '526', '234', '290', '264',
        '194', '304', '228', '272', '1508', '23012', '1558', '256', '2304',
        '440', '900', '7484', '4814', '592', '390', '332', '35850', '406',
        '1302486', '428', '296', '918', '414', '344', '16326', '430',
        '782', '250', '2972', '5738', '952168', '4668', '280', '346',
        '868', '3206', '4584', '660', '538', '8144', '37514', '1000',
        '4262892', '728', '432', '340', '878', '416', '2212', '4862',
        '852', '7032', '382', '2040', '10022', '285522', '320', '17044',
        '648150', '438', '8740', '2350', '1720', '1624', '2436', '646',
        '300', '2184', '1908', '20512', '1330', '814184', '1008', '308',
        '21614', '374', '1534', '668', '684', '2642', '984', '19400',
        '4160', '348', '424', '4016', '113802', '590', '20320', '2136',
        '702', '12490', '69402', '8994', '696', '30806', '6500', '3278',
        '512', '6', '808', '760', '141196', '21848', '830', '450', '1876',
        '4626', '392', '63280', '4248', '1264', '1075942', '226294',
        '1590', '456', '486', '580', '4240', '6910', '13276', '241416',
        '368970', '364', '1222', '598', '1572', '954', '1084', '1038',
        '48620', '544', '2114', '7564', '566', '610', '1196', '1992',
        '806', '520', '528', '1118', '1662', '1670', '874', '96784',
        '1094', '848504', '14964', '480', '11860', '476', '146164', '1108',
        '2418', '1830', '548', '530', '3852', '21070', '20938', '1480',
        '14400', '986', '1026', '690', '362', '9400', '166318', '1382',
        '460', '3616', '2182', '7298', '1270', '8924', '9652', '632',
        '11178', '88794', '2646', '3830', '5014', '396', '388', '2580',
        '504', '4322', '4038', '12418', '107882', '1294', '742', '7462',
        '1120', '3020', '1462720', '372', '1140', '11814', '327082', '378',
        '2100', '3939268', '233436', '68024', '10752', '1682', '1354',
        '1132', '10384', '536334', '1892', '596', '3848', '982', '630',
        '1804', '1220', '1862', '812', '470', '816', '9948', '1700',
        '2916', '540', '692', '30634', '110778', '25528', '1018', '1532',
        '1542', '1944', '21458', '242936', '1432', '33530', '558', '606',
        '950', '3660', '42648', '1570', '5642', '552', '5318', '2444',
        '1318', '482', '514', '908', '150786', '534', '1974', '1048',
        '666', '5024', '522', '16438', '1412', '104642', '172626', '554',
        '2336', '576', '2004', '1763174', '860', '125456', '2456',
        '1172668', '6872', '64366', '1968', '106668', '10464', '1154',
        '2294', '550', '342', '1090', '5066', '6294', '6630', '602',
        '4734', '720', '19078', '822', '313006', '546', '1940', '1856',
        '464', '11592', '296596', '12870', '66282', '832', '5876', '46246',
        '2056', '996', '9586', '8382', '672', '462', '6474', '978',
        '14352', '998', '798', '826', '490', '404', '1648', '1114', '2164',
        '1266', '924', '398', '882', '662', '1284', '3036', '2150', '3834',
        '1882', '4046', '1148', '20434', '3008', '58860', '636', '594',
        '350812', '2968', '823030', '536264', '764', '8662', '2694',
        '23296', '1766', '1210', '6116', '92760', '1564', '2102', '12854',
        '1576', '790', '29170', '4308', '24822', '648', '154730', '15438',
        '3902', '207854', '181804', '28186', '3412', '1104', '1042',
        '8102', '3790', '20978', '3913164', '121162', '37010', '1490',
        '14100', '1316', '425440', '1273202', '10836', '966', '1828',
        '1376', '2378', '3448', '5612', '2637948', '930', '638', '2834',
        '2466', '536', '1676', '8576', '13020', '38814', '970', '756',
        '49400', '1898', '42530', '458', '1014', '49396', '4060', '1470',
        '2886', '1854', '6502', '7644', '770', '584', '17790', '20678',
        '588', '556', '2962', '2052', '18710', '1406', '69410', '9936',
        '958', '21870', '1394', '967140', '1052', '2034', '1306', '1778',
        '1320', '1186', '1012', '1474', '7384', '26224', '1300', '3814',
        '20970', '508', '614', '27956', '164368', '16630', '9116', '3536',
        '922', '974', '1548', '2162', '2898', '6788', '1986', '442',
        '1004', '642', '6484', '578', '1404', '1044', '466', '1816', '542',
        '1244', '119658', '33692', '788', '1146', '20924', '570', '57724',
        '8930', '856', '940', '18178', '5629340', '20840', '4942', '6396',
        '1364', '23016', '2712', '353924', '434', '6144', '5764', '506',
        '3926', '631608', '2722', '348984', '796', '2410', '1416',
        '1949154', '1162', '2128', '1486', '748', '6810', '5062', '452',
        '3136', '153824', '1378', '3526', '79784', '500', '1164', '89778',
        '276284', '10692', '12472', '734', '550714', '302496', '652',
        '86124', '4014', '870', '3160', '1606', '25396', '214026', '3166',
        '12440', '1198', '4406', '800', '7470', '916', '14130', '4022',
        '13138', '740', '1032', '516', '14510', '37328', '14208', '842',
        '496', '2960', '1988', '2680', '13844', '27240', '620', '55698',
        '634', '2670', '20024', '25738', '5626', '730', '4334', '560',
        '3158', '52370', '21798', '658', '513220', '3466', '1906', '712',
        '33158', '24116', '4310', '21976', '2884', '36308', '928', '1890',
        '2204', '6318', '3268', '249834', '968', '2488', '1190', '2222',
        '2026', '1066', '47174', '3854', '4364', '3244', '21864', '1482',
        '1640', '1040', '1680', '612', '644', '1086', '6650', '1388',
        '34310', '4422', '165486', '1189508', '4004', '2472', '11294',
        '716', '28614', '1462', '704', '1770', '894', '2474', '61288',
        '818', '29348', '574', '6594', '38688', '6864', '188606', '2416',
        '5580', '22454', '664', '1002', '2804', '14316', '3378', '6316',
        '46346', '7872', '706', '3614'], dtype=object),)

# Finding in AP1. 
AP1 contain the first 20 feuturues of 'aps_failure_set.csv'. I read the first 20 featurs because after reading the dataset the first time, and assigning it in variable 'air_p' i found that 169 of the component variables are all objects, and the data dictionary specifies they should be float. So to get an insight into why the floats are override by object in the columns, i needed to explore each feuture in the df to get the unique values in them, so as to be able to handle this unique feutures accordingly. 
However, 'air_p' only read first 10 and last 10 columns of the 'aps_failure_set.csv', so to to be able to read other columns i decided to use indexing to get specific columns. Index '[ : , : 20]' returned the first 20 feuture of my main dataset. This implementation gave the feuture names i needed to acess each column. 

# Findings
Usin the '.unique()' method i was able to see the unique values in each column. 'na' is an object and it was returned in majority of the AP1 df. However, some features in AP1 did not have return 'na' in the returned array.

# AP2
I want to explore features in index '[ : ,20:40]'.

In [101]:
# The AP1 df returns the second 20 features and all the rows
AP2= air_p.iloc[ : ,20:40]
AP2.head()

,ak_000,al_000,am_0,an_000,ao_000,ap_000,aq_000,ar_000,as_000,at_000,au_000,av_000,ax_000,ay_000,ay_001,ay_002,ay_003,ay_004,ay_005,ay_006
0,0,0,0,4933296,3655166,1766008,1132040,0,0,0,0,1012,268,0,0,0,0,0,469014,4239660
1,0,0,0,2560898,2127150,1084598,338544,0,0,0,0,0,0,0,0,0,0,0,71510,772720
2,0,0,0,2371990,2173634,300796,153698,0,0,0,0,358,110,0,0,0,0,0,0,870456
3,0,642,3894,10184,7554,10764,1014,0,0,0,0,60,6,0,0,0,0,0,0,0
4,0,0,0,3230626,2618878,1058136,551022,0,0,0,0,1788,642,0,0,0,0,42124,372236,2128914

In [102]:
AP2.shape

(60000, 20)

## Using function to iterate throught the entire df

### Why am i doing this
The dataset is a large one, i could continue to use the method which i used for AP1 for the remaing 7 df's if i break aip_pressure.csv down to 20columns per df. But as seen in [Mention the names of the columns that didnt shown all unique value] not all the unique values were returned because 'unique()' method simply mean evething unique, and in the columns stated above, the unique values where much so the ram could not display all at once leaving some blank inbetween. This will not serve the purpose i want to achive which is to see all the unique onjects in my columns so as to be able to adress them accordingly. 
 **Note: Look up pandas refrence to coroborate this statement about the uses of the methods you are calling***

In [114]:
# Thsi is a function that filters the features in a dataframe.
# i want try this function to filter my dastaset
def get_objects(df,column): #This line initiate the funtion definifition usinf the 'def' method and naming the function 'get_object'
                    # And df as agument to represent dataframe
    objects = []    # This opens and empyty list where the objects found in the dataset would be stored assigned to objects

    for column in df.columns:# using for loop,"For the column in a df"
        for row in df[column]:# "For the obsevations in the columns found in the df"
            if isinstance(row, object): #"If the the obsevation you see is an object"
                 objects.append(row)  # "Add the obsevation to the Object list". With the append method, am ensuring that no
                                    # observation replaces another in the list, the append keep add to the list.
    return objects # "Return the list object". This will produce a list of all the objects in my df at once.

In [115]:
# Trying the funtion with a subset df
all_unique_objects= get_objects(AP2,ak_000)
print(all_unique_objects)

NameError: name 'ak_000' is not defined

In [104]:
AP2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ak_000  60000 non-null  object
 1   al_000  60000 non-null  object
 2   am_0    60000 non-null  object
 3   an_000  60000 non-null  object
 4   ao_000  60000 non-null  object
 5   ap_000  60000 non-null  object
 6   aq_000  60000 non-null  object
 7   ar_000  60000 non-null  object
 8   as_000  60000 non-null  object
 9   at_000  60000 non-null  object
 10  au_000  60000 non-null  object
 11  av_000  60000 non-null  object
 12  ax_000  60000 non-null  object
 13  ay_000  60000 non-null  object
 14  ay_001  60000 non-null  object
 15  ay_002  60000 non-null  object
 16  ay_003  60000 non-null  object
 17  ay_004  60000 non-null  object
 18  ay_005  60000 non-null  object
 19  ay_006  60000 non-null  object
dtypes: object(20)
memory usage: 9.2+ MB

In [8]:
#Checking for missing vales
#air_p.isnull()
# while this code produces some results suggeting that there are no empyty rows
air_p.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
         ..
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
Length: 171, dtype: int64

In [48]:
air_p.dtypes

class     object
aa_000     int64
ab_000    object
ac_000    object
ad_000    object
           ...
ee_007    object
ee_008    object
ee_009    object
ef_000    object
eg_000    object
Length: 171, dtype: object

In [50]:
air_p['ab_000'].shape

(60000,)

In [51]:
air_p['ac_000'].shape

(60000,)